.navigation {
  padding: 43px 65px;

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: flex-end;
  }

  &__item {
    margin-right: 85px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $font-contrast;

    font-family: "MullerLight", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;

    &:hover,
    &:focus,
    &:active {
      font-weight: bold;
    }
  }
}
