.page {
  min-width: 320px;

  color: #30333a;
  background-color: #249adb;

  font-family: 'Muller', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}
