.registration {
  padding: 30px 25px;

  text-align: center;

  background-color: $white;

  &__title {
    margin: 0 0 3px;

    font-family: "Muller", sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
  }

  &__instruction {
    margin: 0 0 40px;

    font-family: "Muller", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
  }

  &__link {
    font-family: "Muller", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    color: $font-blue;
    transition: color 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      color: $accent;
    }
  }
}

@media (min-width: $tablet-width) {
  .registration {
    padding: 44px 30px;
    min-height: 100vh;
    width: 40%;

    &__title {
      font-size: 28px;
    }

    &__instruction {
      margin-bottom: 51px;
    }

    &__link {
      font-size: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .registration {
    width: $aside-width;

    &__title {
      font-size: 30px;
    }
  }
}
